/* src/components/Sidebar.css */
.sidebar {
  margin-top: 12px;                    /* statt margin */
  margin-left: 12px;
  margin-bottom: 12px;                 /* fixiert auch das untere Ende */
  width: 220px;
  background-color: var(--color-surface);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  border-radius: 24px;
  box-shadow: var(--shadow-elevate);
  box-sizing: border-box;
  border: 2px solid var(--color-border);
}

.head-title {
  font-size: 30px;
  font-weight: bold;
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 20px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
}

.sidebar-item.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6px; /* Dicke des Balkens */
  height: 70%; /* wie lang der Balken sein soll */
  background-color: var(--color-primary);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.sidebar-item.active {
  font-weight: bold;
}

.sidebar-item .icon {
  margin-right: 10px;
  font-size: 18px;
  color: var(--color-text-secondary);
}

.sidebar-item.active .icon,
.sidebar-item:hover .icon {
  color: var(--color-primary);
}

.sidebar-item .label {
  font-size: 16px;
  color: var(--color-text);
}

.sidebar-item.active .label,
.sidebar-item:hover .label {
  color: var(--color-primary);
}